@charset "utf-8";
/* CSS Document */

/* ************************************************************************************************************************

Hielos del Sur

File:			template.css
Author:			Amapolazul Grupo Creativo
Homepage:		www.amapolazul.com
Copyright:		2016

************************************************************************************************************************ */

/* ---------- General ---------- */

@font-face {
	font-family: "Helvetica";
	src: url(fonts/Helvetica.otf);
}

@font-face {
	font-family: "Helvetica Bold";
	src: url(fonts/Helvetica-Bold.otf);
}

* {
	margin: 0;
	padding: 0;
}

body {
	margin: 0;
	padding: 0;
	font-family: "Helvetica", Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #858585;
}

ul,
li {
	list-style: none;
}

/* ---------- Template ---------- */

/* Top */

.top_wrap {
	padding: 15px 0;
}

.custom_t1 {}

.moduletable_t2 {}

ul.menu_main {}

ul.menu_main li {
	background: url(../images/menu_main_li_bg.png) no-repeat;
	background-position: right;
	float: left;
	position: relative;
}

ul.menu_main a {
	padding: 40px 10px;
	font-size: 16px;
	color: #858585;
	text-transform: uppercase;
}

ul.menu_main li.active a,
ul.menu_main a:hover {
	color: #0C85C7;
}

/* Menu */

.menu_wrap {}

.menu_wrap .navbar-default {
	background-color: transparent;
	border-color: transparent;
}

.menu_wrap .nav-pills>li {
	float: none;
}

/* Banner */

.banner_wrap {
	background: url(../images/banner_wrap_bg.jpg) no-repeat;
	background-position: top;
}

.moduletable_ba1 {}

.banner_wrap_quienes_somos {
	background: url(../images/banner_wrap_quienes_somos_bg.jpg) no-repeat;
	background-position: top;
	background-size: auto 100%;
}

.moduletable_ba2 {}

.banner_wrap_fabricacion {
	background: url(../images/banner_wrap_fabricacion_bg.jpg) no-repeat;
	background-position: top;
}

.moduletable_ba3 {}

.moduletable_ba3 .avatar-copyright {
	display: none;
}

.banner_wrap_productos {
	background: url(../images/banner_wrap_productos_bg.jpg) no-repeat;
	background-position: top;
}

.moduletable_ba4 {}

.banner_wrap_distribucion {
	background: url(../images/banner_wrap_distribucion_bg.jpg) no-repeat;
	background-position: top;
}

.moduletable_ba5 {}

/* Map */

.map_wrap {}

.map_wrap .col-xs-12 {
	padding: 0;
}

.custom_m1 {}

.custom_m1 iframe {
	border: none;
}

/* Component */

.component_wrap {
	margin: 20px 0;
}

/* Product */

.product_wrap {
	padding: 20px 0;
	background-color: #F1F1F1;
}

.moduletable_p1 {}

.moduletable_p1 h3 {
	margin: 0;
	margin-bottom: 20px;
	font-size: 18px;
	font-weight: bold;
	color: #5E5E5E;
	text-align: center;
	text-transform: uppercase;
}

/* Client */

.client_wrap {
	padding: 20px 0;
}

.moduletable_c1 {}

.moduletable_c1 h3 {
	margin: 0;
	margin-bottom: 20px;
	font-size: 18px;
	font-weight: bold;
	color: #5E5E5E;
	text-align: center;
	text-transform: uppercase;
}

.moduletable_c1 h3.special span {
	margin-top: 20px;
	font-size: 14px;
	font-weight: normal;
	text-transform: none;
	display: inline-block;
}

/* Bottom */

.bottom_wrap {
	padding: 20px 0;
	background: url(../images/bottom_wrap_bg.jpg) no-repeat;
	background-position: top;
	background-size: cover;
}

.custom_bo1 {}

.custom_bo2 {}

.custom_bo2 p {
	margin: 0;
	padding: 15px 0;
	font-size: 20px;
	color: #FFF;
}

.custom_bo2 a {
	color: #fff;
}

/* Copyright */

.copyright_wrap {}

.copyright {
	padding: 10px;
	text-align: center;
}

.copyright a {
	color: #858585;
}

/* WhatsApp */

.whatsapp {
	width: 60px;
	height: 60px;
	right: 0;
	bottom: 0;
	padding: 10px;
	position: fixed;
	z-index: 100;
}

.whatsapp a {
	font-size: 40px;
	line-height: 40px;
	color: #00bb2d;
}

/* ---------- Joomla ---------- */

.page-header {
	margin: 0;
	padding: 0;
	border: none;
}

.items-leading h2,
.item-page h2,
.item h2 {
	margin: 0;
	margin-bottom: 30px;
	font-size: 38px;
	font-weight: bold;
	color: #5E5E5E;
	text-align: center;
	text-transform: uppercase;
}

.items-leading ul,
.item-page ul,
.item ul {
	margin: 10px 5px;
}

.items-leading li,
.item-page li,
.item li {
	padding: 5px 5px 5px 20px;
	background: url(../images/li_bg.png) no-repeat 7px 10px;
}

.img-center {
	margin: auto;
}

.box_white {
	padding: 20px;
	background-color: #FFF;
}

.box_grey {
	padding: 20px;
	background-color: #F4F4F4;
}

a.button_order {
	margin: 20px 0 10px 0;
	padding: 18px;
	background: url(../images/button_order_bg.png) no-repeat;
	border: none;
	font-size: 18px;
	color: #FFF;
	text-transform: uppercase;
}

a.button_order:hover {
	color: #FFF;
}

/* ---------- Components ---------- */

/* ChronoForms */

.chronoform h2 {
	margin: 0;
	margin-bottom: 30px;
	font-size: 38px;
	font-weight: bold;
	color: #5E5E5E;
	text-align: center;
	text-transform: uppercase;
}

p.chrono_credits {
	margin: 0;
	line-height: 0;
}

p.chrono_credits a {
	font-size: 0;
}

/* ---------- Media Queries ---------- */

/* Extra small devices */

@media (max-width: 767px) {

	/* Bottom */

	.bottom_wrap {
		background-repeat: repeat-y;
	}

	.custom_bo2 p {
		text-align: center;
	}

}

/* Small devices */

@media (min-width: 768px) and (max-width: 991px) {}

/* Medium devices */

@media (min-width: 992px) and (max-width: 1199px) {}

/* Large devices */

@media (min-width: 1200px) {}

/* ---------- Others ---------- */

.clear {
	clear: both;
}